<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Flight<br>Number</th>
        <th>Departure</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.flight %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>