<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.flight %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departure: </div>
  <div><%= flight.departs %></div>
</section>

<%- include('../partials/footer') %>